/*글씨체*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');    


*{
    font-family: 'Noto Sans KR', sans-serif;
}
dd{
    margin: 0;
}

h1{
    background-color: bisque;
}
a{
    text-decoration:none; color:black;

    text-decoration:none;color:black;

    text-decoration:none; color:black; 

    text-decoration:none; color:black;
    text-decoration: none;
}



table, th, td{
    border: 1px solid #bcbcbc;
    background-color: whitesmoke;
}

td{
    text-align: center;
}
    

#main {
	
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;   

}

.content_01,.content_02,.content_03{
	margin-top: 50px;
}

.content_ul{
    padding: 0;
    list-style: none;
}
.content_li{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(235, 231, 231);
}

#sidebar{
	margin-top: 50px;
}


.side_ul{
    list-style: none;
    text-align: left;
    float: left;
    padding-inline-start: 0px;
}
.side_maintitle{
    cursor:pointer;
    font-size: 30px;
}

.side_li{
    margin-top: 10px;
    
}
#main #contents {
    min-height: 1000px; 
    
    margin-right: 10px;
}
#main #contents1 {
    min-height: 1000px; 
    
    margin-right: 10px;
}

#main #sidebar {
    min-height: 1000px; 
    
}
hr{
    border: 0;
    height: 3px;
    background-color: black;
}
.tit{
    margin-top: 100px;
    padding-bottom: 14px;
    display: flex;
    max-width: 100%;
}

h3 {
    font-size: 20px;
}

.add {
    margin-left: 950px;
    margin-top: 20px;
}

.add_text {
    text-decoration-line: none;
    color: rgb(70, 68, 68);
}


.table {
    display: table;
    width: 1100px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 12px;
}

.item {
    display: table-cell;
    text-align: center;
}

dl {
    position: relative;
    display: block;
    padding-top: 20px;
    height: 80px;
}


.title {
    font-size: 20px;
    text-align: center;
}

.count {
    margin-left: 0px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
}

#count_buy_all {
    color: red;
}

#count_sell_all {
    color: green;
}


div {
    margin: 0px;
    padding: 0px;
}

.empty_area {
    padding-top: 80px;
    text-align: center;
}

.empty{
    font-size: 15px;
    color: rgba(34, 34, 34, .5);
}

#empty_area_selling {
    margin-bottom: 100px;
}



#footer {
    margin-top: 10px; 
    
}
#divsearch{
    width: 100%;
    height: 30px;
    
}
#searchSelect{
    float: right;
    margin-right: 5px;
    height: 25.5px;
    border-left: none;
    
}
#searchbox{
   float: right;
   outline: none;

}


#searchbnt{
    float: right;
    height: 23px;
    background-color: black;
    color: white;
}
.TransactionStatus {
    padding: 0;
    display: none;
   list-style: none;
   z-index: 2px;
}
.TransactionStatus li{
    outline: 1px solid;
    
}

.list_tap{
    width: 100%; 
    display: table; 
    table-layout: fixed; 
    background-color: #fafafa;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    
}
.tap_item{
    display: table-cell; 
    text-align: center;
    padding-top: 18px; 
    height: 96px;
}
.tap_title{
    font-size: 18px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .8);
}
.tap_count{
    text-align: center;
    margin-top: 2px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.09px;
    font-weight: 700;
}


.add_text:hover{
	cursor: pointer;
}

.noticeBorad{
	margin-top: 50px;
	display: inline-block;
}

.boardsubmit{
	margin-top: 20px;
	text-align: center;
	
}

.submit_btn{
	
	width: 100px;
	height: 30px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	cursor: pointer;
}

@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;    
    }

    #main #contents {  
        margin-bottom: 10px; 
        margin-right: 0px;
    }
    #main #sidebar {
        min-height: 0;
    }

}