*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

a,a:hover,a:link,a:visited,a:focus{
    color: black;
    text-decoration: none;
}

ul{
    padding: 0;
}
.container{
    margin-top : 100px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6rem;
}

.card-detail{
    display: flex;
    justify-content: space-around;
}
.card-post{
    width: 720px;
    margin-bottom: 10%;
}



.card-body-user{
    display: flex;
    flex-direction: row;
    height: 2em;
    align-items: center;
    margin-top: 0.1rem;
}

.card-user-div{
    height: 3rem;
    padding-left: 0.4rem;
    overflow: hidden;
}

.card-user-name{
    padding-top: 0.25rem;
    display: inline-flex;
    font-weight: bold;
}

.card-user-report :hover{
	cursor: pointer;
}


.card-date{
    color: lightslategray;
    line-height: 0.7rem;
    font-size: 0.9rem;
}


.profile-user-img{
    border-radius: 70%;
    overflow: hidden;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
}



.profile-user-img-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70%;
}


.card-comment-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card-comment, .card-comment:focus{
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 1rem;
}


.card-comment-submit{
    font-size: 1.1rem;
    color: steelblue;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255 , 255, 0);
    outline: none;
}


.card-footer,.card-header,.card-comment{
    background-color: rgba(255, 255 , 255, 0) ;
}


.card{
    border-radius: 25px;
}

.card-icons{
    display: flex;
}

.card-icon-btn{
    border: none;
    background-color: rgba(255, 255 , 255, 0);
    padding-right: 8px;
}

.card-like-cnt{
    font-size: 0.8rem;
    letter-spacing: 0.01rem;
}

.card-like-cnt span{
    font-weight: bold;
}


.card-commentlist{
    max-height: 300px;
    overflow: auto;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
}

.card-commentlist::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.card-comment-li{
    display: flex;
    padding-left: 1rem;
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.card-comment-li-div{
    padding-left: 0.5rem;
    flex : 2;
}

.comment-user-name{
    font-weight: bold;
    padding-right: 0.5rem;
}

.comment-date{
	padding-right : 0.5rem;
}



.comment-user-img{
    float: left;
    border-radius: 70%;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    min-height: 2rem;
}


.comment-data{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}


.comment-report:hover{
    text-decoration: underline;
}
.comment-oper a{
    padding-left: 0.5rem;
}

.comment-oper a:hover{
    text-decoration: underline;
}






.card-commentlist,.card-footer{
    display: none;
}

.card-commentlist.active,.card-footer.active{
    display: block;
}

.operation{
    position : fixed;
    display: flex;
    flex-direction: column; 
    right: 0;
    bottom: 10px; 
}

.btn{
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
}


@media screen and ( max-width : 1024px) {
}