*{
    font-family: 'Noto Sans KR', sans-serif;
}



#mypage {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
}

#list {
    top: 200px;
    width: 300px;
    font-size: 20px;
    position: absolute;
}

#list_title {
    font-size: 25px;
    text-decoration-line: none;
    color: black;
}

#shop_list {
    margin: 0;
    padding: 0;
}

.info {
    margin-bottom: 0px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: -.16px;
}

ul,li, ol {
    list-style: none;
}

ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.menu_item{
    margin-top: 8px;
}

.menu_link {
    text-decoration-line: none;
    font-size: 18px;
    letter-spacing: -.15px;
    color: gray;
}

#my_list {
    margin-top: 40px;
}

#my_info{
    margin-bottom: 0px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: -.16px;
}

#list_title:hover {
    text-decoration-line: underline;
}

.menu_link:hover {
    text-decoration-line: underline;
}




#content_area {
    left: 300px;
    top: 200px;
    position: relative;
}

#profile {
    display: block;
    padding: 0px;
}

#my_profile {
    top: 20px;
    position: relative;
}


#id {
    font-size: 40px;
    margin-bottom: 0px;
}

#email {
    margin-top: 0px;
}

#grade{
    left: 500px;
    top: -20px;
    width: 300px;
    height: 500px;
    position: absolute;
}

#grade_rank{
    left: 25px;
    position: relative;
    color: gray;
}

#img {
    width: 125px;
    height: 130px;
}

#grade_score {
    left: 185px;
    top: 0px;
    position: absolute;
    color: gray;
}

#grade_num {
    left: 180px;
    top: 80px;
    width: 80px;
    font-size: 50px;
    text-align: center;
    position: absolute;
}

.tit{
    margin-top: 100px;
    padding-bottom: 14px;
    display: flex;
    max-width: 100%;
}

h3 {
    font-size: 20px;
}

.add {
    margin-left: 600px;
    margin-top: 20px;
}

.add_text {
    text-decoration-line: none;
    color: rgb(70, 68, 68);
}


.table {
    display: table;
    width: 750px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 12px;
}

.item {
    display: table-cell;
    text-align: center;
}

dl {
    position: relative;
    display: block;
    padding-top: 20px;
    height: 80px;
}


.title {
    font-size: 20px;
    text-align: center;
}

.count {
    margin-left: 0px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
}

#count_buy_all {
    color: red;
}

#count_sell_all {
    color: green;
}


div {
    margin: 0px;
    padding: 0px;
}

.empty_area {
    padding-top: 80px;
    text-align: center;
}

.empty{
    font-size: 15px;
    color: rgba(34, 34, 34, .5);
}

#empty_area_selling {
    margin-bottom: 100px;
}

.listTable img{
	height: 80px;
}

.listTable {
	padding-top : 2rem;
	width: 100%;
	margin-bottom: 30px;
}

.listTable td{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.listTable th{
	margin-bottom: 1rem;
}
.listTable .img-div{
	text-align: center;
}