*{
    font-family: 'Noto Sans KR', sans-serif;
}

#mypage {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
}

#list {
    top: 200px;
    width: 300px;
    font-size: 20px;
    position: absolute;
}

#list_title {
    font-size: 25px;
    text-decoration-line: none;
    color: black;
}

#list_title:hover {
    text-decoration-line: underline;
}

#shop_list {
    margin: 0;
    padding: 0;
}

.info {
    margin-bottom: 0px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: -.16px;
}

ul,li, ol {
    list-style: none;
}

ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.menu_item{
    margin-top: 8px;
}

.menu_link {
    text-decoration-line: none;
    font-size: 18px;
    letter-spacing: -.15px;
    color: gray;
}
.menu_link:hover {
    text-decoration-line: underline;
}

#my_list {
    margin-top: 40px;
}

#my_info{
    margin-bottom: 0px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: -.16px;
}

.title{
	text-align: left;
    margin-bottom: 30px;
    border-bottom: 3px solid black;
    font-weight: bold;
    color: black;
    font-size: 30px;
}


#content_area {
    left: 300px;
    top: 200px;
    position: relative;
}

#profile {
    display: block;
    padding: 0px;
}

#my_profile {
    top: 20px;
    position: relative;
}


#id {
    font-size: 40px;
    margin-bottom: 0px;
}

#email {
    margin-top: 0px;
}

#grade{
    left: 500px;
    top: -20px;
    width: 300px;
    height: 500px;
    position: absolute;
}

#grade_rank{
    left: 25px;
    position: relative;
    color: gray;
}

#img {
    width: 125px;
    height: 130px;
}

#grade_score {
    left: 185px;
    top: 0px;
    position: absolute;
    color: gray;
}

#grade_num {
    left: 180px;
    top: 80px;
    width: 80px;
    font-size: 50px;
    text-align: center;
    position: absolute;
}

.tit{
    margin-top: 100px;
    padding-bottom: 14px;
    display: flex;
    max-width: 100%;
}

h3 {
    font-size: 20px;
}

.add {
    margin-left: 600px;
    margin-top: 20px;
}

.add_text {
    text-decoration-line: none;
    color: rgb(70, 68, 68);
}


.table {
    display: table;
    width: 750px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 12px;
}

.item {
    display: table-cell;
    text-align: center;
}

dl {
    position: relative;
    display: block;
    padding-top: 20px;
    height: 80px;
}



.count {
    margin-left: 0px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
}

#count_buy_all {
    color: red;
}

#count_sell_all {
    color: green;
}


div {
    margin: 0px;
    padding: 0px;
}

.empty_area {
    padding-top: 80px;
    text-align: center;
}

.empty{
    font-size: 15px;
    color: rgba(34, 34, 33, .5);
}

#empty_area_selling {
    margin-bottom: 100px;
}

/* 판매정산계좌------------------------------------------------------------------- */

#mypage_account{
    left: 300px;
    top: 200px;
    position: relative;

    width: 500px;
    height: 500px;
}

#mypage_account_title{
    font-size: 30px;
    font-weight: 400;
}

.used_bankname{
    width: 500px;
    height: 40px; 
    border-width: 0;
    font-size: 13pt;
}

#mypage_account_bank{

    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 300;
}

#mypage_account_acc{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 300;
}
#mypage_account_owner{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 300;
}

#mypage_account_btn{
    text-align: center;
    padding-top: 40px;
}

.save_btn{
    border-radius: 10px;
    width: 100px;
    height: 30px;
    opacity: 70%;
}

#account_num_input{
    width: 500px;
    height: 40px;
    border-width: 0;
    font-size: 13pt;
}

#account_owner_input{
    width: 500px;
    height: 40px;
    border-width: 0;
    font-size: 13pt;
}

/* 내 프로필 정보 ----------------------------------------------------------------------*/

    #mypage_profile_info{
        left: 300px;
        top: 200px;
        position: relative;
        width: 500px;
        height: 500px;
    }

    #mypage_profile_title{
        font-size: 30px;
        font-weight: 400;
        border-bottom: 3px solid black;
    }

    #mypage_profile_id{
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
    }

    #mypage_login{
        font-size: 17px;
        font-weight: 400;

    }

    #mypage_profile_email{
        font-size: 13px;
        opacity: 70%;
    }

    #mypage_profile_email{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        font-weight: 300;
    }

    .my_email{
        width: 500px;
        height: 40px;
        border-width: 0;
        font-size: 13pt;
    }

    #mypage_profile_pw{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        font-weight: 300;
        font-size: 13px;
        opacity: 70%;
    }

    .my_pw{
        width: 500px;
        height: 40px;
        border-width: 0;
        font-size: 13pt;
    }

    #mypage_personal{
        font-size: 17px;
        font-weight: 400;
    }

    #mypage_name{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        font-weight: 300;
        opacity: 70%;
    }

    .my_name{
        width: 500px;
        height: 40px;
        border-width: 0;
        font-size: 13pt;
    }

    #mypage_phone{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        font-weight: 300;
        opacity: 70%;
    }

    .my_phone{
        width: 500px;
        height: 40px;
        border-width: 0;
        font-size: 13pt;
    }

    #mypage_add{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        font-weight: 300;
        opacity: 70%;
    }

    .my_add{
        width: 500px;
        height: 40px;
        border-width: 0;
        font-size: 13pt;
    }

    .user_out{
        font-size: 12px;
        font-weight: 300;
    }

    /* 관심상품---------------------------------------------------------------------------- */



    #mypage_product{
        width: 750px;
    }

    .mypage_product_title{
        font-size: 30px;
        font-weight: 400;
        border-bottom: 3px solid black;
        margin-bottom: 20px;
    }

    .product_img{
        width: 150px;
        height: 150px;
    }
    
    .product_item{
        float: left;
        margin-left: 6px;
    }
    
    .heart{
        color: black;
    }
    
    .name{
        font-size: 14px;
        text-decoration: none;
    }
    
    .desc{
        font-size: 11px;
    }