/* *{
    font-family: 'Noto Sans KR', sans-serif;
}

.footer_link{
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.footer_content{
    font-size: 11px;
    opacity: 60%;
}

#footer_hrtag{
    opacity: 30%;
}

.footer{
    padding: 30px;
}

.corp{
    float: right;
    font-size: 9px;
} */