div{
    border: 1px solid black;
}

*{
    margin: 0px;
    padding: 0px;
}

#wrap{

    position: relative;
    left: 15vw;
    width: 66.6vw;
    height: 99.5vh;
    max-width: 1280px;
    max-height: 940px;
    min-width: 950px;
    min-height: 940px;
}

#chat_area{
    
    position: relative;
    float: left;
    width: 14vw;
    height: 98vh;
    margin: 5px;
    max-width: 270px;
    min-width: 200px;
    min-height: 930px;
  
    
}

#deal_area{

    position: relative;
    left: 14.5vw;
    height: 21vh;
    min-height: 197px;

   
}

#notice_area{

    position: relative;
    left: 14.5vw;
    height: 37vh;
    min-height: 348px;

}


#map_button_area{

    position: relative;
    left: 14.5vw;
    height: 38.5vh;
    min-height: 362px;

}

.common{
    width: 51.5vw;
    margin: 5px;
    max-width: 990px;
    min-width: 733px;
}

#map_area{

    position: relative;
    width: 31.5vw;
    height: 38.5vh;
    max-width: 605px;
    max-height: 365px;
    min-width: 448px;
    min-height: 362px;
    
}

#button_area{
    position: absolute;
    top: 31.5vh;
    left: 31.8vw;
    width: 19.7vw;
    height: 7vh;
    max-width: 380px;
    max-height: 65px;
    min-width: 280px;
    min-height: 65px;
}

